.git
.gitignore
.idea
.vscode
**/.dart_tool
**/.flutter-plugins*
**/.packages
**/build
**/coverage
**/target
Client/.fvm
Client/android
Client/test
Service/media/**
!Service/media/.gitignore
!Service/media/README.md
Service/cover-cache/**
!Service/cover-cache/.gitignore
!Service/cover-cache/README.md
*.log
.env
